<div class="container">
  <div class="cross">
    <fa-icon class="cross-icon" [icon]="faTimesCircle" (click)="close()"></fa-icon>
  </div>
  <div class="modal-header"><span>Submitted data</span></div>
  <ul class="list-group modal-list">
    <li *ngFor="let key of dataKey; index as i" class="list-group-item form-data" [class]="{'dark-background':i%2!==0}">
      <div class="each-coloum">{{formDataLib[key]}}:</div>
      <div class="each-coloum"> {{data[key]}}</div>
    </li>
  </ul>
</div>