.form-data {
    display: flex;
}

.each-coloum {
    flex: 1;
}

.modal-header {
    display: flex;
    justify-content: center;
    font-size: 27px;
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 0px !important;
    padding: 0 !important;
    line-height: 0.5;
}

.modal-list {
    font-size: 15px;
    color: #495057;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 19px;
}

.cross {
    display: flex;
    justify-content: flex-end;
    padding-top: 13px;
    font-size: 27px;
    color: rgb(146 116 116 / 38%);
}

.cross-icon {
    cursor: pointer;
    transition: 0.3s;
}

.cross-icon:hover {
    color: black;
}

.dark-background {
    background-color: rgba(79, 73, 73, 0.097);
}