<div *ngIf="!loading" class="search d-flex justify-content-center">
  <div>
    <form class="form-inline waves-light" mdbWavesEffect>
      <input class="form-control mr-sm-2" type="text" name="searchInput" [(ngModel)]="searchInput"
        (input)="search($event)" placeholder="Search by country name" />
    </form>
  </div>
</div>
<div *ngIf="!loading" class="container">

  <div class="table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="border-left">Country <span class="sort" (click)="sortData('country')">
              <fa-icon class="fa-not-selected not-active"
                [ngClass]="{'active': sorted && sortBy=='country' && sortingType=='asc'}" [icon]="faArrowUp"></fa-icon>
              <fa-icon class="fa-not-selected not-active"
                [ngClass]="{'active': sorted && sortBy=='country' && sortingType=='dsc'}" [icon]="faArrowDown">
              </fa-icon>
            </span>
          </th>
          <th scope="col">Country code</th>
          <th scope="col">Institue name <span class="sort" (click)="sortData('name')">
              <fa-icon class="fa-not-selected not-active"
                [ngClass]="{'active': sorted && sortBy=='name' && sortingType=='asc'}" [icon]="faArrowUp"></fa-icon>
              <fa-icon class="fa-not-selected not-active"
                [ngClass]="{'active': sorted && sortBy=='name' && sortingType=='dsc'}" [icon]="faArrowDown"></fa-icon>
            </span></th>
          <th scope="col">State/Province</th>
          <th class="border-right" scope="col">Domains</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of countryData | slice: (page-1) * pageSize : page * pageSize; index as i"
          [ngClass]="{'selected-row': data.country==selectedCountry && countryIndex == i && this.previousPage == this.page}">
          <td class='checkbox border-left'>
            <input mdbCheckbox class="form-check-input check" type="checkbox"
              [checked]='data.country==selectedCountry && countryIndex == i && this.previousPage == this.page'
              (change)="selectCountry(data.country, i, $event)" />{{
            data.country }}
          </td>
          <td>{{ data.alpha_two_code}}</td>
          <td>{{ data.name}}</td>
          <td>{{ data['state-province']==null?'-':data['state-province']}}</td>
          <td class="border-right">{{ data.domains[0]}}</td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
      [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
  </div>

  <form class="form-horizontal form container" [formGroup]="dataForm">
    <div class="form-header"><span>Enter your details</span></div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">Name:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="name" autocomplete="name" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.name?.errors?.required && dataForm.controls.name.touched">
          {{emptyError}} </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">Ph Number:</label>
      <div class="col-sm-9">
        <input class="form-control" type="tel" formControlName="number" autocomplete="number" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.number?.errors?.required && dataForm.controls.number.touched">
          {{emptyError}} </span>
        <span class="error" *ngIf="dataForm.controls.number?.errors?.pattern && dataForm.controls.number.touched">
          Invalid phone number!
        </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">Address:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="address" autocomplete="address" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.address?.errors?.required && dataForm.controls.address.touched">
          {{emptyError}} </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">City:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="city" autocomplete="city" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.city?.errors?.required && dataForm.controls.city.touched">
          {{emptyError}} </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">State:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="state" autocomplete="state" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.state?.errors?.required && dataForm.controls.state.touched">
          {{emptyError}} </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">Country:</label>
      <div class="col-sm-9">
        <input class="form-control" type="text" formControlName="country" autocomplete="country" required
          (focusout)="onFocusOutEvent($event)">
        <span class="error" *ngIf="dataForm.controls.country?.errors?.required && dataForm.controls.country.touched">
          {{emptyError}}. </span>
      </div>
    </div>
    <div class="form-group input-group">
      <label class="control-label col-sm-3 label">Gender:</label>
      <fieldset class="radio-group">
        <input class="radio-button" type="radio" name="gender" formControlName="gender" value="Male"><span
          class="gender-name">Male</span><br>
        <input class="radio-button" type="radio" name="gender" formControlName="gender" value="Female"><span
          class="gender-name">Female</span><br>
        <input class="radio-button" type="radio" name="gender" formControlName="gender" value="Other"><span
          class="gender-name">Other</span><br>
      </fieldset>
    </div>
    <div class="d-flex justify-content-center">
      <button [disabled]="dataForm.invalid"  type="button" class="btn btn-primary" (click)="submit()">Submit</button>
    </div>
  </form>


</div>
<div *ngIf="loading" class="d-flex justify-content-center spin">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>