.fa-not-selected {
    font-size: 12px;
}

.not-active {
    opacity: 0.3;
}

.active {
    opacity: 1;
    color: blue;
}

.sort {
    cursor: pointer;
}

.checkbox {
    padding-left: 25px;
}

.selected-row {
    background-color: #bdd9e4 !important;
}

.form {
    max-width: 500px;
    // border: 2px solid #b79f9f1f;
    box-shadow: 0px 0px 10px #0600004a;
    border-radius: 12px !important;
    padding: 23px;
    margin-bottom: 30px;
}

.search {
    position: fixed;
    top: 0;
    width: 100%;
    background: #f2f2f2;
    z-index: 5;
    height: 40px;
    box-shadow: 1px 4px 3px #0000003d;
    padding-top: 1px;
}

.table {
    margin-top: 41px;
    // border-bottom: 2px solid #f7f3f3;
}

.spin {
    padding-top: 211px;
}

.spinner-border {
    width: 7rem;
    height: 7rem;
}

.error {
    font-size: 11px;
    color: #f56363bf;
}

.radio-group {
    display: flex;
    flex-direction: row;
}

.radio-button {
    margin: 4px 4px 0 15px;
} 

.gender-name {
    font-size: 15px;
    color: #495057;
}

.label {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

.border-right {
    border-right: 2px solid #f7f3f3 !important;;
}

.border-left {
    border-left: 2px solid #f7f3f3 !important;;
}

.form-header {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;
    color: rgb(95 61 61 / 61%);
    font-size: 22px;
    font-weight: 500;
}

.check {
    cursor: pointer;
}